$text-color: rgba(255, 255, 255, 0.9);

.navbar{
      background: rgba(30, 30, 30, 0.7); 
    backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%); 
  
  border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
    color: $text-color;
    padding: 0.1rem;
    font-weight: 500;
    font-size: 13px;

    

    .left{
        display: flex;
        gap: 0.8rem;
        cursor: default;
    }
    .right{
        display: flex;
         cursor: default;
    }
}